body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #0077ff;
    color: white;
    padding: 20px;
}

.profile {
    margin: 20px;
    padding: 20px;
    background: white;
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about {
    background: white;
    margin: 20px;
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
